#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    // width: 100%;
    // height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.mySwiper {
    display: grid;
}



.timeline{
    background-color: var(--color-black);
    color: var(--gentle-white);

    .left {
        margin-left: 5rem;
    }

    

    .box {
        background-color: transparent;
        border: 1px solid var(--light-blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 5rem;

        &:nth-child(2n+1) {
            border-top: none;
        }

        &:nth-child(2n) {
            border-bottom: none;
            border-left: none;
        }

        .title {
            color: var(--light-blue);
            font-family: var(--font-alt);
            font-size: 1rem;
        }
    }
}
  