

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-black);
    h1 {
        font-size: 20px;
        color: var(--dark-blue);
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background: rgba(219, 219, 219, 0.1);
        border-radius: 17px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.8px);
        -webkit-backdrop-filter: blur(2.8px);
        width: 20rem;
        gap: 20px;
        input {
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }
        button {
            padding: 10px;
            border: none;
            background-color: var(--dark-blue);
            cursor: pointer;
            color: white;
        }
        p {
            font-size: 12px;
            color: red;
            text-align: center;
        }
        span {
            font-size: 12px;
            text-align: center;
            color: var(--gentle-white);
        }
    }
}