.add {
    padding: 3rem 4rem;
    display: flex;
    gap: 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    min-height: 100vh;

    .content {
        padding-top: 5rem;
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
            padding: 10px;
            border: 1px solid lightgray;
            background: none;
            color: var(--color-white);
        }

        .editorContainer {
            height: 300px;
            overflow-y: scroll;
            resize: vertical;
            border: 1px solid lightgray;

            .editor {
                height: 100%;
                border: none;
            }
        }
    }

    .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            border: 1px solid lightgray;
            padding: 10px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 12px;
            color: lightgray;

            h1 {
                font-size: 20px;
            }

            .file {
                text-decoration: underline;
                cursor: pointer;
            }

            .buttons {
                display: flex;
                justify-content: space-between;

                :first-child{
                    cursor: pointer;
                    color: black;
                    background-color: var(--dark-blue);
                    border: 1px solid black;
                    padding: 3px 5px;
                }
            }

            .cat {
                font-size: .8rem;
                display: flex;
                align-items: center;
                gap: 2px;
                color: var(--light-blue);

            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .add {
        flex-direction: column;
        .menu {
            display: flex;
            flex-direction: row;

            .item {
                gap: .7rem;
            }
        }
    }

}

@media screen and (max-width: 460px){
    .add {
        .menu{
            display: flex;
            flex-direction: column;
        }
    }
    
}