.partners__list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 2rem;
}